node_modules
vendor
.env
.env.backup
.git
.github
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml.dist
docker-compose.yml
DEPLOYMENT_TUTORIAL.md
PROJECT_CHECKLIST.md
TECHNICAL_SPECIFICATION.md
README.md
scripts
